.Editcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Editform {
  height: fit-content;
  min-width: 35vw;
  box-shadow: rgb(0, 0, 0 / 16%) 1px 1px 10px;
  padding: 20px;
  margin: 20px;
}
.Edittitle {
  display: flex;
  justify-content: center;
}
.Editinputcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 30px 10px 20px 10px;
}
.Editinputcontainer > label {
  font-size: 18px;
  font-weight: 700;
}
.Editinputcontainer > input {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}
.Editbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.Editforgotpassword {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.Editform {
  height: fit-content;
  min-width: 35vw;
  box-shadow: rgb(0, 0, 0 / 16%) 1px 1px 10px;
  padding: 20px;
  margin: 20px;
}
.Editinputcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 30px 10px 20px 10px;
}
.Editbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.updatebtn {
  background-color: #103755;
  color: white;
  padding: 3px 14px;
  border-radius: 4px;

  &:hover {
    background-color: darken(#103755, 6%);
  }
}

.cancelbtn {
  color: white;
  background-color: #ce4f4b;
  padding: 3px 14px;
  border-radius: 4px;

  &:hover {
    background-color: darken(#ce4f4b, 6%);
  }
}
