.Home-skeleton{
  height: 100vh;
  width: 100vw;
}
.home-music-container{
  display: flex;
  .sidebar-home{
    flex: 0.2;
  }
  .main-home{
    flex: 0.8;
  }
}
.current-large-banner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
}
.btn{
  font-family: Consolas, sans-serif;
  letter-spacing: 2px;
  border: none;
  background-color: #F45B69;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 5px 5px;
  padding: 10px 10px;
  border-radius: 5px;
}
.btn:hover{
  opacity: 0.9;
  cursor: pointer;
}
@media only screen and (max-width: 970px) {
  .home-music-container {
    .sidebar-home{
      flex: 0;
    }
    .main-home{
      flex: 1;
    }
  }
}