.Home-skeleton {
  height: 100vh;
  width: 100vw;
}
.main-home-copyright {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fcf8ec;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 5vh;
  width: 100vw;
  align-items: center;
  position: fixed;
  bottom: 12%;
}
.copyright {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fcf8ec;
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 800;
  height: 4vh;
  align-items: center;
}
.home-musicplayer {
  position: fixed;
  bottom: 12%;
}
.current-large-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
}
