$app-bg: #f9fafc;
$button-bg: linear-gradient(135deg, #4a90e2, #357ab8);
$button-hover: linear-gradient(135deg, #5aa0f2, #468ad0);
$text-color: #333;
$logo-color: #222;

.loginbrand {
  padding: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  user-select: none;
}
.loginbrand span:nth-child(1) {
  color: red;
  text-shadow: 1px 0px 0px red;
}
.loginbrand span:nth-child(2) {
  color: #f45d01;
  margin-right: 2px;
  text-shadow: 1px 0px 0px #f45d01;
}
.loginbrand span:nth-child(3) {
  color: #eeb902;
  margin-right: 2px;
  text-shadow: 1px 0px 0px #eeb902;
}
.loginbrand span:nth-child(4) {
  color: #04cc0b;
  margin-right: 2px;
  text-shadow: 1px 0px 0px #04cc0b;
}
.loginbrand span:nth-child(5) {
  display: space;
  margin: 6px;
}
.loginbrand span:nth-child(6) {
  color: #2d7dd2;
  text-shadow: 1px 0px 0px #2d7dd2;
}
.loginbrand span:nth-child(7) {
  color: #4062bb;
  text-shadow: 1px 0px 0px #4062bb;
}
.loginbrand span:nth-child(8) {
  color: #52489c;
  text-shadow: 1px 0px 0px #52489c;
}
.loginbrand span:nth-child(9) {
  color: red;
  text-shadow: 1px 0px 0px red;
}
.loginbrand span:nth-child(10) {
  color: #f45d01;
  text-shadow: 1px 0px 0px #f45d01;
}
.loginbrand span:nth-child(11) {
  color: #eeb902;
  text-shadow: 1px 0px 0px #eeb902;
}
.loginbrand span:nth-child(12) {
  color: #4062bb;
  text-shadow: 1px 0px 0px #4062bb;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); // 電腦版 3 欄
  gap: 24px;
  width: 100%;
  // max-width: 900px;
  padding: 40px 20px;
  justify-items: center;
}

.link-button {
  width: 100%;
  max-width: 240px; // 按鈕最大寬度一致
  padding: 16px 12px;
  background: $button-bg;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 14px;
  transition: 0.25s ease;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);

  &:hover {
    background: $button-hover;
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
}

/* 平板：2 欄 */
@media (max-width: 1024px) {
  .button-grid {
    grid-template-columns: repeat(3, 1fr);
    // max-width: 700px;
  }
}

/* 手機：1 欄 */
@media (max-width: 600px) {
  .button-grid {
    grid-template-columns: repeat(1, 1fr);
    // max-width: 380px;
  }
}
