#main {
  font-family: Consolas, sans-serif;
  background: #794141;
  background: linear-gradient(90deg, rgb(46, 148, 33) 50%, #eb4559 50%);
  height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  .nav-item {
    height: 10vh;
    display: flex;
    font-size: 1.3rem;
    .navbar-brand {
      font-family: 'Playball', cursive;
      color: #ffffff;
      font-size: 2rem;
      text-align: center;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      flex-basis: 50%;
    }
  }
  .main-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    .main-row-img{
      flex-basis: 50%;
      flex-grow: 1;
      .head-phone-img {
        width: 30%;
      }
      .english-method{
        color: rgb(255, 255, 255);
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 18px;
        margin: 20px;
        text-align: left;
      }
    }
    .main-row-text{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      flex-basis: 50%;
      flex-grow: 1;
      
      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 3rem;
        color: white;
        -webkit-text-stroke: 2px rgb(46, 148, 33);
      }
      p {
        color: #f8eeee;
        font-size: 1.2rem;
      }
      label{
        display: block;
        text-align: left;
        font-size: 25px;
        margin: 3px;
        font-weight: 800;
        padding-top: 10px;
        margin: 10px;
      }
      input{
        height: 40px;
        width: 40%;
        padding: 5px 10px;
        font-size: 20px;
        border-radius: 5px;
        border: 2px solid #D4AA7D;
      }
      input::placeholder{
        color: #aaa;
        font-weight: 200;
      }
      .btn{
        font-family: Consolas, sans-serif;
        letter-spacing: 2px;
        border: none;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        font-size: 1.1rem;
        text-transform: uppercase;
        margin: 25px 10px;
        padding: 10px 20px;
        border-radius: 5px;
      }
      .btn:hover{
        opacity: 0.9;
        cursor: pointer;
      }
    }
  }
}



@media only screen and (max-width: 500px) {
  h1{
    font-size: 1rem;
  }
  .head-phone-img{
    display: none;
  }
  #main{
    background:  rgb(46, 148, 33) ;
  }
}

@media only screen and (max-width: 500px) {
  .english-method{
    font-size: 15px;
    padding: auto;
    margin: auto;
  }
}

