#main {
  font-family: 'Poppins', sans-serif;
  // background: linear-gradient(110deg, rgb(46, 148, 33) 50%, #eb4559 50%);
  background: linear-gradient(110deg, rgb(46, 148, 33) 50%, #ffffff 50%);

  height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  .nav-item {
    height: 10vh;
    display: flex;
    font-size: 1.3rem;
    .navbar-brand {
      font-family: 'Playball', cursive;
      color: #ffffff;
      font-size: 2rem;
      text-align: center;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      flex-basis: 100%;
    }
  }
  .main-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    .main-row-img{
      flex-basis: 50%;
      flex-grow: 1;
      .head-phone-img {
        width: 40%;
      }
      .english-method{
        color: rgb(255, 255, 255);
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 20px;
        margin: 20px;
        text-align: left;
      }
    }
    .main-row-text{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      flex-basis: 50%;
      flex-grow: 1;

      .loginbrand{
        font-family: 'Varela Round', sans-serif;
        font-size: 60px;
        font-weight: 900;
        letter-spacing: 3px;
        cursor: pointer;

      }
      
      .loginbrand span:nth-child(1){
        color: red;
        text-shadow: 1px 0px 0px red;
      }
      .loginbrand span:nth-child(2){
        color: #f45d01;
        margin-right: 2px;
        text-shadow: 1px 0px 0px #f45d01;
      }
      .loginbrand span:nth-child(3){
        color:#eeb902;
        margin-right: 2px;
        text-shadow: 1px 0px 0px #eeb902;
      }
      .loginbrand span:nth-child(4){
        color:#04cc0b;
        margin-right: 2px;
        text-shadow: 1px 0px 0px #04cc0b;
      }
      .loginbrand span:nth-child(5){
        display: space;
      }
      .loginbrand span:nth-child(6){
        color:#2d7dd2;
        text-shadow: 1px 0px 0px #2d7dd2;
      }
      .loginbrand span:nth-child(7){
        color:#4062bb;
        text-shadow: 1px 0px 0px #4062bb;
      }
      .loginbrand span:nth-child(8){
        color:#52489c;
        text-shadow: 1px 0px 0px #52489c;
      }
      .loginbrand span:nth-child(9){
        color:red;
        text-shadow: 1px 0px 0px red;
      }
      .loginbrand span:nth-child(10){
        color:#f45d01;
        text-shadow: 1px 0px 0px #f45d01;
      }
      .loginbrand span:nth-child(11){
        color:#eeb902;
        text-shadow: 1px 0px 0px #eeb902;
      }
      .loginbrand span:nth-child(12){
        color:#4062bb;
        text-shadow: 1px 0px 0px #4062bb;
      }
      p {
        // color: #f8eeee;
        color: rgb(46, 148, 33);
        font-size: 1.2rem;
        font-weight: 900;
      }
      label{
        display: block;
        text-align: left;
        font-size: 25px;
        margin: 3px;
        font-weight: 800;
        padding-top: 10px;
        margin: 10px;
      }
      input{
        height: 40px;
        width: 40%;
        padding: 5px 10px;
        font-size: 20px;
        border-radius: 5px;
        border: 2px solid #D4AA7D;
      }
      input::placeholder{
        color: #aaa;
        font-weight: 200;
      }
    }
    .loginbtn {
      margin: 10px 0px;
      padding: 10px 20px;
      font-size: 1rem;
      letter-spacing: 5px;
      border-radius: 10px;
      font-family: 'Noto Sans TC', sans-serif;
      border-color: #f1c40f;
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
      background: {
        image: linear-gradient(45deg,#f1c40f 50%, transparent 50%);
        position: 100%;
        size: 400%;
      }
      transition: background 300ms ease-in-out;
      
      &:hover {
        background-position: 0;
        cursor: pointer;
      }
    }
  }
}




@media only screen and (max-width: 789px) {
  .loginbrand{
    span{
      font-size: 2rem;
    }
  }
  .main-row-text{
    label{
      font-size: 20px !important;
    }
    input{
      font-size: 15px !important;
      width: 70% !important;
    }
  }
  .main-row {
    .main-row-img{
      .english-method{
        p{
          color: #ffffff;
          font-size: 15px !important;
        } 
      }
    }
  }
  .head-phone-img{
    display: none;
  }
  #main{
    // background: linear-gradient(180deg, rgb(46, 148, 33) 40%, #eb4559 40%);
    background: linear-gradient(180deg, rgb(46, 148, 33) 45%, #ffffff 45%);
  }
  .main-row-img{
    flex-basis: 51% !important;
  }
}



