.order-page {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #faefef;
  padding: 20px;
  border-radius: 10px;
  button {
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }

  .back-button {
    background: linear-gradient(90deg, #007bff, #0056b3);
    color: white;

    &:hover {
      background: linear-gradient(90deg, #0056b3, #003d7a);
    }
  }

  .buy-button {
    background: linear-gradient(90deg, #28a745, #218838);
    color: white;
    border-radius: 5px;

    &:hover {
      background: linear-gradient(90deg, #218838, #1e7e34);
    }
  }

  .sell-button {
    background: linear-gradient(90deg, #dc3545, #c82333);
    color: white;
    border-radius: 5px;

    &:hover {
      background: linear-gradient(90deg, #c82333, #bd2130);
    }
  }

  .input-group {
    margin-bottom: 10px;
    padding: 5px;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label {
      font-size: 16px;
      font-weight: 600;
      color: #444;
    }

    button {
      border: none;
      border-radius: 5px;
      padding: 8px;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }

    .stock-info {
      margin-top: 8px;
      font-size: 14px;
      color: #555;
    }
  }

  .remaining-money {
    margin-bottom: 10px;
    padding: 5px;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 800;
  }

  .input-top {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .input-group:last-child {
    margin-bottom: 0;
  }

  .stock-input {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background: #f9f9f9;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  .user-stocks-orderpage {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;

    .order-title {
      font-size: 20px;
      font-weight: 700;
      color: #333;
      text-align: center;
      margin-top: 15px;
    }

    .trade-item-container {
      display: flex;
      justify-content: space-around;
      gap: 50px;
    }

    .stock-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      padding: 10px;
      border-radius: 10px;

      .order-img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
      }

      .stock-name {
        font-size: 1em;
        font-weight: 800;
        color: #333;
        margin-bottom: 5px;
      }

      .stock-quantity {
        font-size: 0.9em;
        font-weight: 800;
        color: #ff5a5a;
      }
    }
  }
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0px 5px 20px rgb(201, 201, 201);
  border-radius: 20px;
  padding: 10px;
}
.item-title {
  font-size: 16px;
  font-weight: 800;
  color: #0056b3;
}
.items {
  display: flex;
}
.item {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 800;
}

.total-cost {
  font-weight: 800;
  margin: 10px;
}
