.User {
  padding: 10px;
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
}

.User-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 70%;
}

.User-left,
.User-right {
  flex: 1;
  padding: 10px;
  background: #ffffff;
  border: 2px solid #ffcc80; /* Warm border color */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.User-profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.User-profile-title {
  font-size: 27px; /* Smaller font size */
  font-weight: bold;
  margin-bottom: 8px;
}

.title-text {
  font-size: 20px; /* Smaller font size */
  font-weight: 900;
  color: #f57c00; /* Warm text color */
  margin-bottom: 8px;
}

.user-info-container {
  width: 100%;
  border-radius: 8px;
  padding: 8px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 6px 0;
  border-bottom: 1px solid #ffb74d; /* Warm border color */
}

.user-info-label {
  font-weight: 600;
  color: #000000; /* Warm text color */
}

.second-title-text {
  font-size: 16px; /* Smaller font size */
  font-weight: 900;
  color: #e65100; /* Warm text color */
}

.User-passed-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.User-passed-items-title {
  font-size: 18px; /* Smaller font size */
  font-weight: 900;
  color: #f57c00; /* Warm text color */
  margin-bottom: 8px;
}

.User-passed-items-list {
  width: 100%;
  list-style: none;
}

// .User-passed-items-ul {
//   padding: 0;
//   margin: 0;
// }

.User-passed-items-li {
  margin-bottom: 6px;
}

.User-passed-items-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #ffcc80; /* Warm border color */
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.User-passed-items-key {
  font-weight: 900;
  color: #000000; /* Warm text color */
}

.User-passed-items-playcount {
  font-weight: 900;
  color: #e65100; /* Warm text color */
}

.User-passed-items-none {
  color: #e65100; /* Warm text color */
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .User-container {
    width: 100%;
    flex-direction: column;
  }

  .User-left,
  .User-right {
    width: 100%;
  }
}
