.complete{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-decoration: line-through;
    color: red;
}
.notcomplete{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    color: green;
}
.addmusiclist{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.add{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.createmusicinput{
    display: flex;
    flex-direction: column;
}
.completebtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button{
    border-radius: 30px;
    justify-content: space-around;
}
.adc{
    display: flex;
    align-items: center;
    justify-content: center;
}