.brand{
  a{
    background-color: #ffffff;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2),
                0 3px 4px 0 rgba(0,0,0,0.14),
                0 1px 8px 0 rgba(0,0,0,0.12);
    padding: 0px 40px;
    border-radius: 30px;
    color: #456990;
    transition: all .2s ease-in-out;
    font-family: "Bungee", cursive;
  }
  h1{
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 350px) {
  .brand{
    display: none;
  }
}
