.Contact {
  font-family: "Poppins", sans-serif;

  .Contact-head {
    text-transform: uppercase;
    background-color: #005b7f !important;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    color: #f6edba;
    font-size: 1.5rem;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    span {
      display: flex;
      align-items: center;
    }
  }

  .Contact-profile {
    display: flex;
    flex-flow: row wrap;
    // background-color: #efdaae;
    background-color: #fcf8ec;
    padding: 5px;
    height: 83vh;
    overflow-y: scroll;
    .Contact-profileCard {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        border: 1px solid #000;
        border-radius: 20px;
        padding: 2px;
        width: 48.3vw;
      }
      .Card-details {
        border-radius: 20px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #1e56a0;
        h3,
        p {
          padding: 10px;
          text-transform: uppercase;
        }
        h3 {
          font-family: "Poppins";
          font-weight: 900;
          color: white;
          font-size: 1.3rem;
        }
        p {
          color: gainsboro;
        }
      }
    }
  }
  .Contact-profileDetails {
    color: #188345;
    margin: 20px;
    font-weight: 600;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h3 {
      font-family: "Poppins" !important;
      font-weight: 900;
      padding: 10px;
    }
    p {
      padding: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

.input-field {
  display: flex;
  max-width: 500px;
  width: 100%;
  height: 60px;
  background-color: #f5dd9e;
  margin: 25px 10px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 25% 70%;
  padding: 0 0.4rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}
.input-field label {
  color: #188345;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
}

.input-field input::placeholder {
  font-family: "Poppins", sans-serif;
  color: rgb(76, 76, 76);
  background-color: none;
  font-weight: 600;
  // padding: 10px;
}
.submitbtn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3182ec;
  color: white;
  border: white;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  transition: 0.5s;
}
.submitbtn:hover {
  background-color: #2a76da;
}

@media screen and (max-width: 500px) {
  .input-field {
    display: flex;
    max-width: 350px;
    width: 100%;
    height: 45px;
    background-color: #f5dd9e;
    margin: 30px 10px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0 0.4rem;
  }
  .input-field input {
    outline: none;
    border: none;
    line-height: 1;
    background: none;
    font-weight: 600;
    font-size: 0.9rem;
    width: 200px;
    color: #333;
    padding: 0 0.4rem;
  }
  .input-field label {
    color: #188345;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    font-weight: 600;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1035px) {
  .Contact-profileCard {
    img {
      display: none;
    }
  }
}
