.Container {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fcf8ec;
  // background-image: url("../banner/banner02.svg");
  height: 77vh;
  overflow-y: auto;
}

.gamesection {
  margin: auto;
}

@media only screen and (max-height: 618px) {
  .Container {
    height: 70vh;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
