.Developer {
  font-family: "Varela Round", sans-serif;
  background-color: #fcf8ec;
  display: flex;
  justify-content: center;
  .Developer-profile {
    display: flex;
    background-color: #fcf8ec;
    height: 83vh;
    align-items: center;
    .Developer-profileCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5vh;
      .Developer-title {
        color: #0d5d82;
        font-size: 25px;
        font-weight: 900;
        padding: 15px;
      }
      img {
        border-radius: 20px;
        padding: 2px;
        width: 300px;
      }
    }
    .Developer-profileDetails {
      background-color: #c0d8e0;
      padding: 15px;
      border-radius: 20px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      .Developer-title {
        color: #0d5d82;
        font-size: 25px;
        font-weight: 900;
      }
      p {
        color: #cc2936;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .Developer-profileDetails {
    h3 {
      font-size: 15px;
    }
    p {
      font-size: 15px;
    }
  }
  .Developer .Developer-profile {
    display: flex;
    flex-direction: column;
  }
}
