.gametitle {
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 30px;
  font-weight: 700;
  background-color: #005b7f !important;
  padding: 5px;
  color: #f6edba;
  text-align: center;
  font-family: "Varela Round", sans-serif;
}
.gamecontainer {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.recordbtn {
  color: #000000;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}
.gamebox {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-shadow: -4px 10px 35px -1px rgba(111, 111, 111, 0.75);
  height: fit-content;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
}
.boxtitle {
  top: 0;
  z-index: 1;
  font-size: 30px;
  font-weight: 700;
  padding: 5px;
  color: #005b7f;
  text-align: center;
  font-family: "Varela Round", sans-serif;
}
.gamenote {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-shadow: -4px 10px 35px -1px rgba(111, 111, 111, 0.75);
  height: fit-content;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 700;
  color: #005b7f;
  text-align: center;
  font-family: "Varela Round", sans-serif;
}
.notes {
  color: #ff0000;
  font-weight: 600;
  font-size: 25px;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.704);
}
.Game {
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b7b6b6;
  padding: 50px;
  z-index: 1000;
}
.gamecontainer {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: 80vw;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.score-section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // display: flex;
  font-size: 24px;
  align-items: center;
}
/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gamebtn {
  width: 100%;
  font-size: 18px;
  color: #000000;
  background-color: #ffe3c8;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 3px solid #ff0000;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.gamebtn:hover {
  background-color: #e6c69d;
}

.gamebtn:focus {
  outline: none;
}

.gamebtn svg {
  margin-right: 5px;
}
