.questionbox {
  padding: 20 0 20 0;
  margin: 10px;
  width: 90vw;
  background-color: #edf7ff;
}
.questiontext {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #5cbbff;
  color: #000000;
  border-radius: 20px;
  margin: 10px;
  padding: 15px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}
.questionindex {
  background-color: #ff5c5c;
  font-size: 20px;
  padding: 10px;
  color: #000000;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}
.題目 {
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.gametitle {
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 30px;
  font-weight: 700;
  background-color: #005b7f !important;
  padding: 5px;
  color: #f6edba;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.gamecontainer {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.computer-btncontainer {
  display: flex;
  font-size: 20px;
  justify-content: center;
}
.mobile-btncontainer {
  display: none;
  font-size: 20px;
}
.closebtn {
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.submitanswerbtn {
  box-shadow: -4px 10px 35px -1px rgba(176, 176, 176, 0.682);
  background-color: #69b469;
  color: #000000;
  border-radius: 20px;
  margin: 10px;
  height: fit-content;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.recordingbtn {
  box-shadow: -4px 10px 35px -1px rgba(176, 176, 176, 0.682);
  background-color: #0095ff;
  color: #000000;
  border-radius: 20px;
  border: 3px solid #000000;
  margin: 10px;
  height: fit-content;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.stoprecordbtn {
  box-shadow: -4px 10px 35px -1px rgba(176, 176, 176, 0.682);
  background-color: #f4542c;
  color: #000000;
  border-radius: 20px;
  border: 3px solid #000000;
  margin: 10px;
  height: fit-content;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.nextquestionbtn {
  box-shadow: -4px 10px 35px -1px rgba(176, 176, 176, 0.682);
  background-color: #ff894e;
  color: #000000;
  border-radius: 20px;
  margin: 10px;
  height: fit-content;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.gamebox {
  // box-shadow: -4px 10px 35px -1px rgba(111, 111, 111, 0.75);
  // margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 90vw;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #edf7ff;
  padding: 20px;
  z-index: 1000;
}
.boxtitle {
  top: 0;
  font-size: 30px;
  font-weight: 700;
  padding: 5px;
  color: #005b7f;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.gamenote {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-shadow: -4px 10px 35px -1px rgba(176, 176, 176, 0.682);
  height: fit-content;
  margin: 15px;
  padding: 20px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 700;
  color: #ff3d3d;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.notes {
  color: #ff0000;
  font-weight: 600;
  font-size: 25px;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.704);
}
.Game {
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b7b6b6;
  padding: 50px;
  z-index: 1000;
}
.gamecontainer {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: 80vw;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.score-section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // display: flex;
  font-size: 24px;
  align-items: center;
}
/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gamebtn {
  width: 100%;
  font-size: 18px;
  color: #000000;
  background-color: #ffe3c8;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 3px solid #ff0000;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.gamebtn:hover {
  background-color: #e6c69d;
}

.gamebtn:focus {
  outline: none;
}

.gamebtn svg {
  margin-right: 5px;
}
.notification {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 695px) {
  .boxtitle {
    font-size: 20px;
  }
  .computer-btncontainer {
    display: none;
  }
  .mobile-btncontainer {
    display: flex;
    justify-content: space-evenly;

    button {
      width: 60px;
      height: 60px;
      font-size: 25px;
    }
  }
  // .recordingbtn .submitanswerbtn .stoprecordbtn .nextquestionbtn {
  //   margin: 5px;
  // }
}
