.logoutcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.logoutbtn {
  margin: 20px 0px;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 600;
  border: none;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  color: red;
  background-color: rgb(255, 255, 255);
}
// .logoutbtn:hover {
//   box-shadow: 0 0 15px #d22d2d;
//   // box-shadow: 0 0 15px rgba(0, 0, 0, 0.533);
//   transition: 350ms ease-in-out;
// }
