.logoutcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.logoutbtn {
  width: 40px;
  border-radius: 60%;
  cursor: pointer;
}
.logoutbtn:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.533);
  transition: 350ms ease-in-out;
}

// .logoutbtn {
//   border-radius: 10px;
//   border: 3px solid rgb(232, 52, 52);
//   color: rgb(0, 0, 0);
//   background: {
//     image: linear-gradient(45deg, #f10f0f 50%, transparent 50%);
//     position: 100%;
//     size: 400%;
//   }
//   transition: background 300ms ease-in-out;

//   &:hover {
//     background-position: 0;
//     cursor: pointer;
//   }
//   img {
//     width: 40px;
//   }
// }
