.logoutcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.logoutbtn {
  // margin: 13px 20px;
  padding: 5px 10px;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  border: 3px solid rgb(46, 148, 33);
  color: rgb(0, 0, 0);
  background: {
    image: linear-gradient(45deg,#f1c40f 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;
  
  &:hover {
    background-position: 0;
    cursor: pointer;
  }
}


