.song-name{
  font-weight: bolder;
  font-size: 0.8rem;
  text-align: center;
}
.author-name{
  font-weight: lighter;
  color: gray;
}

@media only screen and (max-width: 968px) {
  .song-name{
    font-size: 0.7rem;
  }
  .author-name{
    font-size: 0.7rem;
  }
}
