.song-name{
  font-weight: bolder;
  font-size: 0.8rem;
  text-align: center;
}
.author-name{
  font-weight: lighter;
  color: gray;
}
.emptysong-name{
  font-weight: bolder;
  font-size: 1.2rem;
  text-align: center;
  color: red;
}

@media only screen and (max-width: 968px) {
  .song-name{
    font-size: 0.7rem;
  }
  .author-name{
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 500px) {
  .emptysong-name{
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
    color: red;
  }
}