:root {
  --smallfont: 15px;
  --mediumfont: 18px;
}
.marqueenamelabel {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  font-size: var(--smallfont);
  text-align: center;
}
.marqueename {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  font-size: var(--smallfont);
  text-align: center;
  color: red;
}
.timeplayed {
  font-family: "Nunito", sans-serif;
  display: flex;
  color: red;
  font-weight: 700;
  font-size: var(--smallfont);
  text-align: center;
  justify-content: space-around;
  cursor: default;
  user-select: none;
}
.game-name {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: var(--mediumfont);
  text-align: center;
  cursor: default;
  user-select: none;
  margin: 10px;
}
.song-name {
  font-family: "Nunito";
  font-weight: 700;
  font-size: var(--smallfont);
  text-align: center;
  cursor: default;
  user-select: none;
}
.author-name {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: var(--smallfont);
  color: gray;
  cursor: default;
  user-select: none;
}
.emptysong-name {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  text-align: center;
  color: red;
}
.quizlabel {
  font-family: "Nunito";
  font-weight: 700;
  font-size: var(--smallfont);
  text-align: center;
  cursor: default;
  user-select: none;
  margin-right: 10px;
}

@media only screen and (max-width: 968px) {
  .song-name {
    font-size: 0.7rem;
  }
  .author-name {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 500px) {
  .emptysong-name {
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
    color: red;
  }
}
