.username {
  font-weight: 800;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons {
  svg {
    color: rgb(81, 204, 43);
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
.offcanvas-header {
  padding: 20px 20px;
}
.navcurrentdaycircle {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  width: 60px;
  height: 60px;
}
.navdailycircletextcomplete {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 700;
  align-items: center;
  color: #fc3434;
  font-size: 15px;
}
.navdailycircletextnotcomplete {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 700;
  align-items: center;
  color: #000000;
  font-size: 15px;
}
.navbackground {
  background-color: #fcf8ec;
  height: 10vh;
  // display: flex;
  align-items: center;
  align-content: center;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}
.toggle {
  // background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  font-weight: 700;
}
.navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}
.navbar-toggler-icon {
  font-size: 20px;
}

.dropdown-menu {
  width: 300px !important;
}
.dropdown-toggle {
  color: #000000;
}
.dropdown-toggle:hover {
  color: #f82222;
  // background-color: rgb(212, 212, 212);
  // border-radius: 20px;
}
.navusername {
  color: #005b7f;
  font-weight: 600;
}

.navlabel {
  padding: auto;
  color: #2d7dd2;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.navlink {
  color: black !important;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.nav-link {
  display: flex;
  align-items: center;
  padding: 10px;
}
.dropdown-menu {
  background-color: #f7edce;
}
// .navlink:hover {
//   // transition: 0.7s;
//   // color: rgb(0, 136, 255);
//   // border-radius: 2px;
//   color: red;
// }
.navlinkscoreboard {
  padding: auto;
  color: rgb(255, 0, 0) !important;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
// .navlinklabel {
//   padding: auto;
//   color: rgb(0, 140, 255) !important;
//   font-size: 16px;
//   font-family: "Nunito", sans-serif;
//   font-weight: 700;
// }

.subnavlink {
  --c: #f6ab28; /* the color */
  background: linear-gradient(90deg, #ffffff 50%, var(--c) 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.subnavlink:hover {
  --_p: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
