.navbackground{
  background-color: rgb(246, 246, 246);
  height: 10vh;
}

.navlink{
  color: black;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 900;

  &:hover{
    color: rgb(255, 0, 0);
  }
}

.subnavlink{
    --c: #f6ab28; /* the color */
    background: 
      linear-gradient(90deg,#ffffff 50%,var(--c) 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.3s;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.subnavlink:hover{
  --_p: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand{
  text-shadow: 0 0 10px white,
               0 0 20px white,
               0 0 40px white;
  font-size: 35px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: pointer;


  span{
    transition: .2s linear;
  }
}

.brand span:nth-child(1){
  color: red;
  text-shadow: 1px 0px 0px red;
}
.brand span:nth-child(2){
  color: #f45d01;
  margin-right: 2px;
  text-shadow: 1px 0px 0px #f45d01;
}
.brand span:nth-child(3){
  color:#eeb902;
  margin-right: 2px;
  text-shadow: 1px 0px 0px #eeb902;
}
.brand span:nth-child(4){
  color:#04cc0b;
  margin-right: 2px;
  text-shadow: 1px 0px 0px #04cc0b;
}
.brand span:nth-child(5){
  display: space;
}
.brand span:nth-child(6){
  color:#2d7dd2;
  text-shadow: 1px 0px 0px #2d7dd2;
}
.brand span:nth-child(7){
  color:#4062bb;
  text-shadow: 1px 0px 0px #4062bb;
}
.brand span:nth-child(8){
  color:#52489c;
  text-shadow: 1px 0px 0px #52489c;
}
.brand span:nth-child(9){
  color:red;
  text-shadow: 1px 0px 0px red;
}
.brand span:nth-child(10){
  color:#f45d01;
  text-shadow: 1px 0px 0px #f45d01;
}
.brand span:nth-child(11){
  color:#eeb902;
  text-shadow: 1px 0px 0px #eeb902;
}
.brand span:nth-child(12){
  color:#4062bb;
  text-shadow: 1px 0px 0px #4062bb;
}

@media only screen and (max-width: 470px) {
  .brand {
    font-size: 20px;
  }
}

