.Redirectcontainer{
    /* background-color: rgb(255, 228, 196); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.loading{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 40vw;
    height: 40vh;
}
.rocketicon{
    font-size: 50px;
}
.alertmessage{
    font-family: "Varela Round", sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin: 20px;
}
.redirectbtn{
    font-family: "Varela Round", sans-serif;
    border: solid 3px rgb(254, 91, 91);
    border-radius: 20px;
    padding: 20px 40px;
    font-size: 25px;
    font-weight: 900;
    margin: 20px;
}