.searchbar{
  padding: 10px;
  margin: 10px;
  width: 250px;
}

.searchbar:focus{
  border: 2px;
  border-color: #f1c40f !important;
  box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.075), 0 0 10px  #f1c40f !important;
}