.searchbar{
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.searchbar:focus{
  border: 2px;
  border-color: #FF0000 !important;
  box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.075), 0 0 10px rgba(255, 0, 0, 0.6) !important;
}