.aside-bar {
  background-color: #f6ab28 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  overflow: auto;
  border-right: 1px solid #e0e0e0;
  .p1 {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    font-weight: bolder;
    user-select: none;
  }
  .lib-sub  {
    --c: #054c9e; /* the color */
    color: #0000;
    background: 
      linear-gradient(90deg,#f6ab28 50%,var(--c) 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.3s;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .MuiButton-startIcon{
      color: #054c9e;
    }
  }
  .lib-sub:hover{
    --_p: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aside-bar-container {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  .playlist{
    flex: 1;
    .p1{
      border-top: 1px solid #e0e0e0;
    }
    .lib-sub:hover{
      // background-color: #054c9e;
      // color: #f6ab28;
      // transition-delay: 10s ease-in-out;
      .MuiButton-startIcon{
        // color: #f6ab28;
      }
    }
  }
}

@media only screen and (max-width: 970px) {
  .aside-bar {
    display: none;
  }
}


