.aside-bar {
  background-color: #f6ab28 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  overflow: auto;
  border-right: 1px solid #e0e0e0;
  .p1 {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    font-weight: bolder;
    user-select: none;

  }
  .lib-sub {
    font-family: 'Time New Roman';
    font-weight: 900;
    color: #054c9e;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .MuiButton-startIcon{
      font-size: 200px;
      color: #054c9e;
    }
  }
  .aside-bar-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    .lib-sub:hover{
      background-color: #054c9e;
      color: #f6ab28;
      transition-delay: 1s ease-in-out;
      .MuiButton-startIcon{
        color: #f6ab28;
      }
    }
  }
  .playlist{
    flex: 1;
    .p1{
      border-top: 1px solid #e0e0e0;
    }
    .lib-sub:hover{
      background-color: #054c9e;
      color: #f6ab28;
      transition-delay: .5s ease-in-out;
      .MuiButton-startIcon{
        color: #f6ab28;
      }
    }
  }
}

@media only screen and (max-width: 970px) {
  .aside-bar {
    display: none;
  }
}